<div class="divconsulta">
    <div class="card" style="width: 18rem;">
        <img src="/assets/logo.PNG" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Consulta tu Reserva</h5>
            <input type="text" placeholder="Digita tu código de reserva">
            <a href="#" class="btn btn-primary">Consultar</a>
        </div>
    </div>
    <div>
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Fecha Entrada</th>
                    <th>Fecha Salida</th>
                    <th>Codigo Reserva</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Edward</td>
                    <td>Laiton</td>
                    <td>234567890</td>
                    <td>29/12/2022</td>
                    <td>01/01/2023</td>
                    <td>123456</td>
                </tr>
              
            </tbody>
        </table>
    </div>
</div>