<section class="vh-100" style="background-color: #252931;">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-200">
      <div class="col-xl-5">
        <div class="card shadow-strong " style="border-radius: 1rem;">
          <div class="card-body p-4 text-center ">

            <h3 class="mb-5">Sign in</h3>

            <div class="form-outline mb-1">
              <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typeEmailX-2">Email</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typePasswordX-2">Password</label>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

            <hr class="my-4">

            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
              type="submit"><i class="fab fa-google me-2"></i> Google</button>
            <button class="btn btn-lg btn-block btn-primary mb-8" style="background-color: #3b5998;"
              type="submit"><i class="fab fa-facebook-f me-2"></i>Facebook</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

