<header>
    <div>
    <nav class="m">
        <section class="mcontainer">
            <img src="/assets/logo.PNG" alt="Logo" class="logo_hotel">
            <h1 class="title">Hotel Jede</h1>
            <ul class="mlinks">
                <li class="mitem">
                    <a routerLink="/inicio" class="mlink">Inicio</a>
                </li>
                <a routerLink="/login" class="mlink">Login</a>
                <li class="mitem mitem--show">
                    <a href="#" class="mlink">Idioma</a>

                    <ul class="mnesting">
                        <li class="minside">
                            <a href="#" class="link mlink--inside">Español</a>
                        </li>
                        <li class="minside">
                            <a href="#" class="mlink mlink--inside">Ingles</a>
                        </li>
                        <li class="minside">
                            <a href="#" class="mlink mlink--inside">Francia</a>
                        </li>
                        <li class="minside">
                            <a href="#" class="mlink mlink--inside">Japones</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>
</header>
<router-outlet></router-outlet>