<header>
    <div>
    <nav class="m">
        <section class="mcontainer">
            <img src="/assets/logo.PNG" alt="Logo" class="logo_hotel">
            <h1 class="title">Hotel Jede</h1>
            <ul class="mlinks">
                <li class="mitem">
                    <a routerLink="/inicio" class="mlink">Inicio</a>
                </li>
                <a routerLink="/login" class="mlink">Login</a>
                <li class="mitem mitem--show">
                    <a href="#" class="mlink">Servicios</a>
                    <div>
                        <ul class="mnesting">
                            <li class="minside">
                                <a routerLink="/gimnasio" class="link mlink--inside">Gimnasio</a>
                            </li>
                            <li class="minside">
                                <a routerLink="/restaurante" class="mlink mlink--inside">Restaurante</a>
                            </li>
                            <li class="minside">
                                <a routerLink="/lavanderia" class="mlink mlink--inside">Lavanderia</a>
                            </li>
                            <li class="minside">
                                <a routerLink="/reserva" class="mlink mlink--inside">Reservas</a>
                            </li>
                        </ul>
                    </div>                  
                </li>
            </ul>
        </section>
    </nav>
</div>
</header>
<router-outlet></router-outlet>