<div class="contenedor">
    <div>
        <img src="https://static.abc.es/Media/201504/27/hotel12--644x362.jpg" alt="">
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" colspan="4">Comfort Suite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Descripción</th>
                    <td>Son la elección ideal para disfrutar de unas vacaciones con todo lujo de detalles. Sus 35 m2 se
                        visten de comodidad y elegancia, poseen una cama King, cajilla de seguridad, televisión, mesa de trabajo,
                        wifi sin costo adicional y baño privado con amenities.</td>
                </tr>
                <tr>
                    <th>Servicios</th>
                    <td>
                        <li>Aire Acondicionado</li>
                        <li>Jacuzzi</li>
                        <li>Wifi Gratis</li>
                        <li>Servicio a la Habitación 24h</li>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Precio</th>
                    <td> $150 </td>

                </tr>
                <tr>
                    <th scope="row" colspan="4"><a routerLink="/reserva"><button type="button"
                                class="btn btn-success">Reservar</button></a></th>

                </tr>
            </tbody>
        </table>
    </div>
</div>