<!-- <div class="divconsulta">
    <div class="card" style="width: 18rem;">
        <img src="/assets/logo.PNG" class="card-img-top" alt="...">
        <form #formulario="ngForm" (ngSubmit)="consultar(formulario)">
            <div class="card-body">
                <h5 class="card-title">Consulta tu Reserva</h5>
                <input type="text" placeholder="Digita tu documento" name="documento"
                   [(ngModel)]="servConsultar.datosRes.documento" >
                   <br><br>
                <button type="submit" class="btn btn-primary">Consultar</button>
            </div>
        </form>
    </div>
</div> -->