header {
  width: 100%;
  height: 525px;
  background-image: url("/assets/hotel-riazor_01.jpg");
}

.btn-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  width: 170px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: darkkhaki;
  border: none;
  border-radius: 10px;
}

.btn-1:hover {
  transition: all 1s;
  background-color: rgb(249, 252, 115);

}

.contenedor {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-block: 20px;
  padding-left: 400px;
}
.h1{
display: flex;
flex-direction: row;
justify-content: center;
color: aliceblue;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.carousel-indicators{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#carouselExampleDark{
    margin-top: 10px;
    width: 60%;
    height: 100%;
}
img{
    width: 100%;
    height: 350px;
}
p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
}
a{
    text-decoration: none;
}

