<header>
    <div class="contenedor">
        <div>
            <button>Reserve Ya</button>
        </div>
    </div>
    <div class="h1">
        <div>
            <h1>Superamos tus expectativas</h1>
        </div>
    </div>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div id="availability">
                  <form action="#">

                        <div class="a-col">
                            <section>
                                <select class="cs-select cs-skin-border">
                                    <option value="" disabled selected>Select Hotel</option>
                                    <option value="email">Luxe Hotel</option>
                                    <option value="twitter">Deluxe Hotel</option>
                                    <option value="linkedin">Five Star Hotel</option>
                                </select>
                            </section>
                        </div>
                        <div class="a-col alternate">
                            <div class="input-field">
                                <label for="date-start">Check In</label>
                                <input type="text" class="form-control" id="date-start" />
                            </div>
                        </div>
                        <div class="a-col alternate">
                            <div class="input-field">
                                <label for="date-end">Check Out</label>
                                <input type="text" class="form-control" id="date-end" />
                            </div>
                        </div>
                        <div class="a-col action">
                            <a href="#">
                                <span>Check</span>
                                Availability
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>