<div class="contenedor">
    <div>
        <img src="https://www.estelarparquedela93.com/cache/ce/83/ce83be0db7848a4b7649381901b58891.jpg"
            alt="">
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" colspan="4">Comfort Suite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Descripción</th>
                    <td>Son las habitaciones más exclusivas del alojamiento. En ellas podrá relajarse en dos ambientes
                        diferentes que proporcionan una atmósfera muy elegante y tranquila. Se dividen en una sala de
                        estar y un dormitorio con una cama doble con 45 m². Están equipadas con cajilla de seguridad,
                        televisión, mesa de trabajo, wifi sin costo adicional y baño privado con amenities.</td>
                </tr>
                <tr>
                    <th>Servicios</th>
                    <td>
                        <li>Aire Acondicionado</li>
                        <li>Tina</li>
                        <li>Jacuzzi</li>
                        <li>Wifi Gratis</li>
                        <li>Servicio a la Habitación 24h</li>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Precio</th>
                    <td> $190 </td>

                </tr>
                <tr>
                    <th scope="row" colspan="4"><a routerLink="/reserva"><button type="button"
                                class="btn btn-success">Reservar</button></a></th>

                </tr>
            </tbody>
        </table>
    </div>
</div>
